body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Pagination rule */

.pagination .page-link, .nav-pills .nav-link {
  color: #28242c;
  background-color: #fff;
  border-color: #ddd;
}

.pagination .page-link:hover, .nav-pills .nav-link:hover {
  color: #fff;
  background-color: #28242c;
  border-color: #fff;
}

.pagination .active .page-link, .nav-pills .nav-link.active{
  color: #fff;
  background-color: #28242c;
  border-color: #fff;
}





